### We're going to talk about base function of data cleaning in R first, and then focusing on tidyverse package, particulary dplyr and tidyr.

# Base 
## Subsetting and Sorting

In [2]:
# create a data frame for testing
set.seed(13435)
X <- data.frame("var1" = sample(1:5), "var2" = sample(6:10), 
                "var3" = sample(11:15))
X <- X[sample(1:5), ]; X$var2[c(1,3)] = NA
X

  var1 var2 var3
1 2    NA   15
4 1    10   11
2 3    NA   12
3 5     6   14
5 4     9   13

In [9]:
# subsetting
X[1:2, "var2"]
# dealing with missing value
X[which(X$var2 > 8), ]
# ordering
X[order(X$var1, X$var3), ]
# ordering with plyr
library(plyr)
arrange(X, var1)
arrange(X, desc(var1))

[1] NA 10

  var1 var2 var3 var4
4 1    10   11    1.7869764
5 4     9   13   -0.5361329

  var1 var2 var3 var4
4 1    10   11    1.7869764
1 2    NA   15    0.1875960
2 3    NA   12    0.4966936
5 4     9   13   -0.5361329
3 5     6   14    0.0631830

  var1 var2 var3 var4
1 1    10   11    1.7869764
2 2    NA   15    0.1875960
3 3    NA   12    0.4966936
4 4     9   13   -0.5361329
5 5     6   14    0.0631830

  var1 var2 var3 var4
1 5     6   14    0.0631830
2 4     9   13   -0.5361329
3 3    NA   12    0.4966936
4 2    NA   15    0.1875960
5 1    10   11    1.7869764

In [6]:
# adding rows or columns
X$var4 <- rnorm(5)
X

  var1 var2 var3 var4
1 2    NA   15    0.1875960
4 1    10   11    1.7869764
2 3    NA   12    0.4966936
3 5     6   14    0.0631830
5 4     9   13   -0.5361329

## Summarizing Data

In [16]:
# using another dataset from web
fileUrl <- "https://data.baltimorecity.gov/api/views/k5ry-ef3g/rows.csv?accessType=DOWNLOAD"
download.file(fileUrl, destfile = "./restaurants.csv")
restData <- read.csv("./restaurants.csv")

In [19]:
# look at a bit of the data
head(restData, n = 3)
tail(restData, n = 3)

  name  zipCode neighborhood councilDistrict policeDistrict
1 410   21206   Frankford    2               NORTHEASTERN
2 1919  21231   Fells Point  1               SOUTHEASTERN
3 SAUTE 21224   Canton       1               SOUTHEASTERN
  Location.1
1 4509 BELAIR ROAD\nBaltimore, MD\n
2 1919 FLEET ST\nBaltimore, MD\n
3 2844 HUDSON ST\nBaltimore, MD\n

Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"ERROR while rich displaying an object: Error in gsub(" &\\", "\\", r, fixed = TRUE): input string 1 is invalid in this locale

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. mime2repr[[mime]](obj)
8. repr_latex.data.frame(obj)
9. gsub(" &\\", "\\", r, fixed = TRUE)

     name               zipCode neighborhood  councilDistrict policeDistrict
1325 ZINK'S CAF\xc2\x90 21213   Belair-Edison 13              NORTHEASTERN
1326 ZISSIMOS BAR       21211   Hampden        7              NORTHERN
1327 ZORBAS             21224   Greektown      2              SOUTHEASTERN
     Location.1
1325 3300 LAWNVIEW AVE\nBaltimore, MD\n
1326 1023 36TH ST\nBaltimore, MD\n
1327 4710 EASTERN Ave\nBaltimore, MD\n

In [20]:
# make summary
summary(restData)
str(restData)

                           name         zipCode             neighborhood
 MCDONALD'S                  :   8   Min.   :-21226   Downtown    :128
 POPEYES FAMOUS FRIED CHICKEN:   7   1st Qu.: 21202   Fells Point : 91
 SUBWAY                      :   6   Median : 21218   Inner Harbor: 89
 KENTUCKY FRIED CHICKEN      :   5   Mean   : 21185   Canton      : 81
 BURGER KING                 :   4   3rd Qu.: 21226   Federal Hill: 42
 DUNKIN DONUTS               :   4   Max.   : 21287   Mount Vernon: 33
 (Other)                     :1293                    (Other)     :863
 councilDistrict       policeDistrict                          Location.1
 Min.   : 1.000   SOUTHEASTERN:385    1101 RUSSELL ST\nBaltimore, MD\n:   9
 1st Qu.: 2.000   CENTRAL     :288    201 PRATT ST\nBaltimore, MD\n   :   8
 Median : 9.000   SOUTHERN    :213    2400 BOSTON ST\nBaltimore, MD\n :   8
 Mean   : 7.191   NORTHERN    :157    300 LIGHT ST\nBaltimore, MD\n   :   5
 3rd Qu.:11.000   NORTHEASTERN: 72    300 CHARLES ST\nBaltimore, MD\n :   4
 Max.   :14.000   EASTERN     : 67    301 LIGHT ST\nBaltimore, MD\n   :   4
                  (Other)     :145    (Other)                         :1289

'data.frame':	1327 obs. of  6 variables:
 $ name           : Factor w/ 1277 levels "NEW EVERGREEN CAF\xc2\x90",..: 54 37 973 35 36 38 50 51 52 53 ...
 $ zipCode        : int  21206 21231 21224 21211 21223 21218 21205 21211 21205 21231 ...
 $ neighborhood   : Factor w/ 173 levels "Abell","Arlington",..: 53 52 18 66 104 33 98 133 98 157 ...
 $ councilDistrict: int  2 1 1 14 9 14 13 7 13 1 ...
 $ policeDistrict : Factor w/ 9 levels "CENTRAL","EASTERN",..: 3 6 6 4 8 3 6 4 6 6 ...
 $ Location.1     : Factor w/ 1210 levels "1 BIDDLE ST\nBaltimore, MD\n",..: 835 334 554 755 492 537 505 530 507 569 ...

In [21]:
# quantiles of quantitative variables
quantile(restData$councilDistrict, na.rm = T)
quantile(restData$councilDistrict, probs = c(0.5, 0.75, 0.9))

  0%  25%  50%  75% 100%
   1    2    9   11   14

50% 75% 90%
  9  11  12

In [23]:
# make table
table(restData$zipCode, useNA = "ifany")
table(restData$councilDistrict, restData$zipCode)

-21226  21201  21202  21205  21206  21207  21208  21209  21210  21211  21212
     1    136    201     27     30      4      1      8     23     41     28
 21213  21214  21215  21216  21217  21218  21220  21222  21223  21224  21225
    31     17     54     10     32     69      1      7     56    199     19
 21226  21227  21229  21230  21231  21234  21237  21239  21251  21287
    18      4     13    156    127      7      1      3      2      1

     -21226 21201 21202 21205 21206 21207 21208 21209 21210 21211 21212 21213
  1       0     0    37     0     0     0     0     0     0     0     0     2
  2       0     0     0     3    27     0     0     0     0     0     0     0
  3       0     0     0     0     0     0     0     0     0     0     0     2
  4       0     0     0     0     0     0     0     0     0     0    27     0
  5       0     0     0     0     0     3     0     6     0     0     0     0
  6       0     0     0     0     0     0     0     1    19     0     0     0
  7       0     0     0     0     0     0     0     1     0    27     0     0
  8       0     0     0     0     0     1     0     0     0     0     0     0
  9       0     1     0     0     0     0     0     0     0     0     0     0
  10      1     0     1     0     0     0     0     0     0     0     0     0
  11      0   115   139     0     0     0     1     0     0     0     1     0
  12      0    20    24     4     0     0     0     0     0     0     0    13
  13      0     0     0    20     3     0     0     0     0     0     0    13
  14      0     0     0     0     0     0     0     0     4    14     0     1

     21214 21215 21216 21217 21218 21220 21222 21223 21224 21225 21226 21227
  1      0     0     0     0     0     0     7     0   140     1     0     0
  2      0     0     0     0     0     0     0     0    54     0     0     0
  3     17     0     0     0     3     0     0     0     0     0     0     1
  4      0     0     0     0     0     0     0     0     0     0     0     0
  5      0    31     0     0     0     0     0     0     0     0     0     0
  6      0    15     1     0     0     0     0     0     0     0     0     0
  7      0     6     7    15     6     0     0     0     0     0     0     0
  8      0     0     0     0     0     0     0     2     0     0     0     2
  9      0     0     2     8     0     0     0    53     0     0     0     0
  10     0     0     0     0     0     1     0     0     0    18    18     0
  11     0     0     0     9     0     0     0     1     0     0     0     0
  12     0     0     0     0    26     0     0     0     0     0     0     0
  13     0     1     0     0     0     0     0     0     5     0     0     1
  14     0     1     0     0    34     0     0     0     0     0     0     0

     21229 21230 21231 21234 21237 21239 21251 21287
  1      0     1   124     0     0     0     0     0
  2      0     0     0     0     1     0     0     0
  3      0     0     0     7     0     0     2     0
  4      0     0     0     0     0     3     0     0
  5      0     0     0     0     0     0     0     0
  6      0     0     0     0     0     0     0     0
  7      0     0     0     0     0     0     0     0
  8     13     0     0     0     0     0     0     0
  9      0    11     0     0     0     0     0     0
  10     0   133     0     0     0     0     0     0
  11     0    11     0     0     0     0     0     0
  12     0     0     2     0     0     0     0     0
  13     0     0     1     0     0     0     0     1
  14     0     0     0     0     0     0     0     0

In [26]:
# check for missing values
## TRUE=1, while FALSE=0
sum(is.na(restData$councilDistrict))
any(is.na(restData$councilDistrict))
all(restData$zipCode > 0)

[1] 0

[1] FALSE

[1] FALSE

In [27]:
# row and column sums
colSums(is.na(restData))
all(colSums(is.na(restData) == 0))

           name         zipCode    neighborhood councilDistrict  policeDistrict
              0               0               0               0               0
     Location.1
              0

Warning message in all(colSums(is.na(restData) == 0)):
"強制變更 'double' 類型的引數為邏輯類型"

[1] TRUE

In [30]:
# values with specific charactersic
## one characteristic
table(restData$zipCode == "21212")
## multiple characteristics
table(restData$zipCode %in% c("21212", "21213"))
restData[restData$zipCode %in% c("21212", "21213"), ]

FALSE  TRUE
 1299    28

FALSE  TRUE
 1268    59

Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"Warning message in FUN(X[[i]], ...):
"輸入的字串 1 不適用於此語言環境"ERROR while rich displaying an object: Error in gsub(" &\\", "\\", r, fixed = TRUE): input string 1 is invalid in this locale

Traceback:
1. FUN(X[[i]], ...)
2. tryCatch(withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler), error = outer_handler)
3. tryCatchList(expr, classes, parentenv, handlers)
4. tryCatchOne(expr, names, parentenv, handlers[[1L]])
5. doTryCatch(return(expr), name, parentenv, handler)
6. withCallingHandlers({
 .     rpr <- mime2repr[[mime]](obj)
 .     if (is.null(rpr))
 .         return(NULL)
 .     prepare_content(is.raw(rpr), rpr)
 . }, error = error_handler)
7. mime2repr[[mime]](obj)
8. repr_latex.data.frame(obj)
9. gsub(" &\\", "\\", r, fixed = TRUE)

     name                                 zipCode neighborhood
29   BAY ATLANTIC CLUB                    21212   Downtown
39   BERMUDA BAR                          21213   Broadway East
92   ATWATER'S                            21212   Chinquapin Park-Belvedere
111  BALTIMORE ESTONIAN SOCIETY           21213   South Clifton Park
187  CAFE ZEN                             21212   Rosebank
220  CERIELLO FINE FOODS                  21212   Chinquapin Park-Belvedere
266  CLIFTON PARK GOLF COURSE SNACK BAR   21213   Darley Park
276  CLUB HOUSE BAR & GRILL               21213   Orangeville Industrial Area
289  CLUBHOUSE BAR & GRILL                21213   Orangeville Industrial Area
291  COCKY LOU'S                          21213   Broadway East
362  DREAM TAVERN, CARRIBEAN  U.S.A.      21213   Broadway East
373  DUNKIN DONUTS                        21212   Homeland
383  EASTSIDE  SPORTS  SOCIAL  CLUB       21213   Broadway East
417  FIELDS OLD TRAIL                     21212   Mid-Govans
475  GRAND CRU                            21212   Chinquapin Park-Belvedere
545  RANDY'S BAR                          21213   Broadway East
604  MURPHY'S NEIGHBORHOOD BAR & GRILL    21212   Mid-Govans
616  NEOPOL                               21212   Chinquapin Park-Belvedere
620  NEW CLUB THUNDERBIRD INC.            21213   Middle East
626  NEW MAYFIELD, INC.                   21213   Belair-Edison
678  IKAN SEAFOOD                         21212   Chinquapin Park-Belvedere
711  KAY-CEE CLUB                         21212   Homeland
763  LA'RAE                               21213   Oliver
777  LEMONGRASS BALTIMORE                 21213   Little Italy
779  LEN'S SANDWICH SHOP                  21213   Broadway East
845  MCDONALD'S                           21213   South Clifton Park
852  MCDONALD'S                           21212   Radnor-Winston
873  NEW REX LIQUORS,INC.                 21212   Wilson Park
895  OK TAVERN                            21213   Biddle Street
919  PANERA BREAD                         21212   Lake Walker
940  PEIWEI ASIAN DINER                   21212   Cedarcroft
949  PERGUSA ENTERPRISES                  21212   Rosebank
957  PHANTOM'S BAR AND GRILL              21213   Belair-Edison
976  POPEYES FAMOUS FRIED CHICKEN         21212   Winston-Govans
994  ROBBIE'S NEST                        21213   Broadway East
1017 RUTLAND BAR                          21213   Broadway East
1018 RYAN'S DAUGHTER                      21212   Chinquapin Park-Belvedere
1022 saigon remembered restaurant         21212   Mid-Govans
1053 SHIRLEY'S  HONEY HOLE                21213   Broadway East
1120 STEEPLE CHASE II                     21213   Biddle Street
1122 SUBWAY                               21213   Oliver
1153 TAM-TAM                              21212   Mid-Govans
1155 TASTE                                21212   Mid-Govans
1159 TAYLORS EAST                         21213   Berea
1186 THE EDGE BAR & LOUNGE                21213   Broadway East
1187 THE EDGE BAR & LOUNGE - KITCHEN AREA 21213   Broadway East
1198 THE HOLLOW BAR & GRILL               21212   Rosebank
1209 THE NEW BUCKETT'S LOUNGE             21213   Broadway East
1232 THREE  ACE'S                         21213   Belair-Edison
1246 TORAIN'S  HIDE-A-WAY                 21213   Broadway East
1259 TSUNAMI BALTIMORE                    21213   Little Italy
1287 VITO'S PIZZA                         21212   Cedarcroft
1298 WENDY'S OLD FASHIONED HAMBURGERS #96 21212   Homeland
1304 WHITTEN'S  (4502-04)                 21213   Claremont-Freedom
1312 wozi lounge                          21212   Guilford
1319 YETI RESTAURANT & CARRYOUT           21212   Rosebank
1320 YORK CLUB TAVERN                     21212   Homeland
1323 ZEN WEST ROADSIDE CANTINA            21212   Rosebank
1325 ZINK'S CAF\xc2\x90                   21213   Belair-Edison
     councilDistrict policeDistrict Location.1
29   11              CENTRAL        206 REDWOOD ST\nBaltimore, MD\n
39   12              EASTERN        1801 NORTH AVE\nBaltimore, MD\n
92    4              NORTHERN       529 BELVEDERE AVE\nBaltimore, MD\n
111  12              EASTERN        1932 BELAIR RD\nBaltimore, MD\n
187   4              NORTHERN       438 BELVEDERE AVE\nBaltimore, MD\n
220   4              NORTHERN       529 BELVEDERE AVE\nBaltimore, MD\n
266  14              NORTHEASTERN   2701 ST LO DR\nBaltimore, MD\n
276  13              EASTERN        4217 ERDMAN AVE\nBaltimore, MD\n
289  13              EASTERN        4217 ERDMAN AVE\nBaltimore, MD\n
291  12              EASTERN        2101 NORTH AVE\nBaltimore, MD\n
362  13              EASTERN        2300 LAFAYETTE AVE\nBaltimore, MD\n
373   4              NORTHERN       5422 YORK RD\nBaltimore, MD\n
383  13              EASTERN        1203 COLLINGTON AVE\nBaltimore, MD\n
417   4              NORTHERN       5723 YORK RD\nBaltimore, MD\n
475   4              NORTHERN       527 BELVEDERE AVE\nBaltimore, MD\n
545  12              EASTERN        2135 NORTH AVE\nBaltimore, MD\n
604   4              NORTHERN       5847 YORK RD\nBaltimore, MD\n
616   4              NORTHERN       529 BELVEDERE AVE\nBaltimore, MD\n
620  13              EASTERN        2201 CHASE ST\nBaltimore, MD\n
626  13              NORTHEASTERN   3349 BELAIR RD\nBaltimore, MD\n
678   4              NORTHERN       529 BELVEDERE AVE\nBaltimore, MD\n
711   4              NORTHERN       201 HOMELAND AVE\nBaltimore, MD\n
763  12              EASTERN        1000 HOFFMAN ST\nBaltimore, MD\n
777   1              SOUTHEASTERN   1300 BANK STREET\nBaltimore, MD\n
779  12              EASTERN        1500 WASHINGTON ST\nBaltimore, MD\n
845  12              EASTERN        2001 BROADWAY\nBaltimore, MD\n
852   4              NORTHERN       5100 YORK RD\nBaltimore, MD\n
873   4              NORTHERN       4637 YORK RD\nBaltimore, MD\n
895  13              EASTERN        2301 BIDDLE ST\nBaltimore, MD\n
919   4              NORTHERN       6307 1 2 YORK RD\nBaltimore, MD\n
940   4              NORTHERN       6302 YORK RD\nBaltimore, MD\n
949   4              NORTHERN       5928 YORK RD\nBaltimore, MD\n
957   3              NORTHEASTERN   3539 BELAIR RD\nBaltimore, MD\n
976   4              NORTHERN       5002 YORK RD\nBaltimore, MD\n
994  12              EASTERN        2250 NORTH AVE\nBaltimore, MD\n
1017 12              EASTERN        1508 RUTLAND AVE\nBaltimore, MD\n
1018  4              NORTHERN       600 BELVEDERE AVE\nBaltimore, MD\n
1022  4              NORTHERN       5857 york rd\nBaltimore, MD\n
1053 13              EASTERN        2300 OLIVER ST\nBaltimore, MD\n
1120 13              EASTERN        2401 CHASE ST\nBaltimore, MD\n
1122 12              EASTERN        1400 NORTH AVE\nBaltimore, MD\n
1153  4              NORTHERN       5722 YORK RD\nBaltimore, MD\n
1155  4              NORTHERN       510 BELVEDERE AVE\nBaltimore, MD\n
1159 13              EASTERN        1201 POTOMAC ST\nBaltimore, MD\n
1186 12              EASTERN        2015 FEDERAL ST\nBaltimore, MD\n
1187 12              EASTERN        2015 FEDERAL ST\nBaltimore, MD\n
1198  4              NORTHERN       5921 YORK RD\nBaltimore, MD\n
1209 13              EASTERN        1432 CHESTER ST\nBaltimore, MD\n
1232  3              NORTHEASTERN   3534 belair RD\nBaltimore, MD\n
1246 12              EASTERN        1701 ELLSWORTH ST\nBaltimore, MD\n
1259  1              SOUTHEASTERN   1300 BANK ST\nBaltimore, MD\n
1287  4              NORTHERN       6304 YORK RD\nBaltimore, MD\n
1298  4              NORTHERN       5615 YORK RD\nBaltimore, MD\n
1304 13              NORTHEASTERN   4502 ERDMAN AVE\nBaltimore, MD\n
1312  4              NORTHERN       4515 YORK RD\nBaltimore, MD\n
1319  4              NORTHERN       5926 YORK RD\nBaltimore, MD\n
1320  4              NORTHERN       5407 YORK RD\nBaltimore, MD\n
1323  4              NORTHERN       5916 YORK RD\nBaltimore, MD\n
1325 13              NORTHEASTERN   3300 LAWNVIEW AVE\nBaltimore, MD\n

In [36]:
# using another dataset
data(UCBAdmissions)
DF = as.data.frame(UCBAdmissions)
summary(DF)
# making a contingency table (列聯表)
xt <- xtabs(Freq ~ (Gender + Admit), data = DF)
xt

      Admit       Gender   Dept       Freq
 Admitted:12   Male  :12   A:4   Min.   :  8.0
 Rejected:12   Female:12   B:4   1st Qu.: 80.0
                           C:4   Median :170.0
                           D:4   Mean   :188.6
                           E:4   3rd Qu.:302.5
                           F:4   Max.   :512.0

        Admit
Gender   Admitted Rejected
  Male       1198     1493
  Female      557     1278

In [40]:
# another dataset
# multivariant contingency table
warpbreaks$replicate <- rep(1:9, len = 54)
str(warpbreaks)
## "." means all variables
xt <- xtabs(breaks ~ ., data = warpbreaks)
xt
## flatten all tables
ftable(xt)

'data.frame':	54 obs. of  4 variables:
 $ breaks   : num  26 30 54 25 70 52 51 26 67 18 ...
 $ wool     : Factor w/ 2 levels "A","B": 1 1 1 1 1 1 1 1 1 1 ...
 $ tension  : Factor w/ 3 levels "L","M","H": 1 1 1 1 1 1 1 1 1 2 ...
 $ replicate: int  1 2 3 4 5 6 7 8 9 1 ...

, , replicate = 1

    tension
wool  L  M  H
   A 26 18 36
   B 27 42 20

, , replicate = 2

    tension
wool  L  M  H
   A 30 21 21
   B 14 26 21

, , replicate = 3

    tension
wool  L  M  H
   A 54 29 24
   B 29 19 24

, , replicate = 4

    tension
wool  L  M  H
   A 25 17 18
   B 19 16 17

, , replicate = 5

    tension
wool  L  M  H
   A 70 12 10
   B 29 39 13

, , replicate = 6

    tension
wool  L  M  H
   A 52 18 43
   B 31 28 15

, , replicate = 7

    tension
wool  L  M  H
   A 51 35 28
   B 41 21 15

, , replicate = 8

    tension
wool  L  M  H
   A 26 30 15
   B 20 39 16

, , replicate = 9

    tension
wool  L  M  H
   A 67 36 26
   B 44 29 28

             replicate  1  2  3  4  5  6  7  8  9
wool tension
A    L                 26 30 54 25 70 52 51 26 67
     M                 18 21 29 17 12 18 35 30 36
     H                 36 21 24 18 10 43 28 15 26
B    L                 27 14 29 19 29 31 41 20 44
     M                 42 26 19 16 39 28 21 39 29
     H                 20 21 24 17 13 15 15 16 28

In [42]:
# size of a data set
fakeData <- rnorm(1e5)
object.size(fakeData)
print(object.size(fakeData), units = "Mb")

800040 bytes

0.8 Mb

## Creating New Variables